body {
    background-color: #2577c9;
}

.login-box {
    max-width: 400px;
    margin: auto;
    background: rgb(129, 40, 40);
    padding: 20px;
    box-shadow: 0 2px 10px rgba(95, 181, 218, 0.1);
}
